header ul.fir>li a{display: none;}
header .sec form{display: none;}
header .sec li:nth-child(1){display: none;}
section .pro>dl{width:45%;padding-right: 20px;flex-flow:row wrap;}
section .pro{flex-flow: row wrap}
section div.pro{width:95%;margin:0 auto;}
section .pro>dl{width:50%; padding:0;}
section .pro>dl div{padding-left: 10px;padding-right: 10px;}
.loop .fir{position: relative;}
.shop{position: relative;margin-bottom: 300px;}
.meeting{position: relative;margin-bottom: 300px;}
.meeting .words{background: #000;margin-left: 0;}
.words{position: absolute;height:280px;left:0;bottom: -280px;width:100%;text-align: center; }
.shop .words{background: #000;margin-left: 0;}
.loop .words{background: #E6E6E6;margin-left: 0;}
.loop{margin-bottom: 340px;}