header ul.fir>li a{display: none;}
header .sec form{display: none;}
header .sec li:nth-child(1){display: none;}
.wrap section .pro>dl{width:93%;padding-right:0px;margin:0 auto;}
.wrap section .pro{flex-direction: column;}
.loop .fir{position: relative;}
.shop{position: relative;margin-bottom: 300px;}
.meeting{position: relative;margin-bottom: 300px;}
.meeting .words{background: #000;margin-left: 0;}
.words{position: absolute;height:280px;left:0;bottom: -280px;width:100%;text-align: center; }
.shop .words{background: #000;margin-left: 0;}
.loop .words{background: #E6E6E6;margin-left: 0;}
.loop{margin-bottom: 340px;}
footer .wrap{display: flex;flex-direction: column;}
footer .wrap ul{width:60%;}
footer ul li a{display: none;}
.feedback{display: none;}
footer ul li i.iconfont{display:inline-block;margin-left:10px;font-size: 19px;color:#555;}